/*
Color HEX Codes
Raise Black: 332E3C
Celadon: ABC4A1
Persian Orange: E0986B
Light Blue: 9FC9D1
Light Orange: FFDBB1
*/
/* Light Mode Styles */
body.light, p.light, a.light {
  color: #332E3C;
  background-color: #ffffff;
}

footer.light, ul.light li.light, .head .row.color.light {
  background-color: #FFDBB1;
}

footer > p.light {
  background-color: #FFDBB1;
}

footer.light .head .row.color.light {
  background-color: #FFDBB1;
  color: #332E3C;
}

h1.light, h2.light, h3.light, h4.light, h5.light {
  color: #332E3C;
}

/* Dark Mode Styles */

body.dark, p.dark, a.dark {
  color: #ffffff;
  background-color: #332E3C;
}

footer.dark, ul.dark li.dark, .head .row.color.dark {
  background-color: #9FC9D1;
}

footer > p.dark {
  background-color: #9FC9D1;
}

footer.dark, .head .row.color.dark {
  background-color: #9FC9D1;
  color: #ffffff;
  }

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark {
  color: #ffffff;
}

/*
Hamburger menu management based on
https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
*/

p, ul, li, a {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-size: large;
  font-style: bold;
  margin: 5px;
}

h1 {
  display: inline;
  font-size: 130px;
}

h2 {
  font-size: 30px;
}

footer {
    text-align: center;
    padding: 3px;
  }

li {
  list-style:none;
}

.hamburger {
  display:none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #332E3C;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0;
  margin-top: 5px;
}
  
.menu {
    gap: 20px;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.menu > a {
    color: #332E3C;
    text-decoration: none;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
    border-color: #E0986B;
}

.menu > a:hover {
    background-color: #F0F0F0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  margin: 5px;
}

div {
  margin: 5px;
}

.menu li {
  margin: 10px;
}

#creators {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

#creators .row {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.bio {
  flex: 1 1 0px;
}

@media (max-width: 700px) {
  .menu.active {
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    transition: 0.3s;
  }
  .menu {
    display: none;
    flex-direction: row;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #logo {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width:1050px) {
  #voyager {
    display: none;
  }
}

@media (max-width: 1100px) and (min-width:700px) {
  h1 {
    font-size: 78px;
  }
}

@media (min-width: 700px) {
    .menu {
        justify-content: flex-end;
      }
    #creators {
        flex-direction: row;
      }
  }

/* W3 Schools Toggle */
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 8.5px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1100px) {
  .switch {
    width: 60px;
    height: 36px;
  }
  .slider:before {
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
  }
  .slider.round {
    border-radius: 19px;
  }
}

/* Fixing Header layout */
.head {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.head .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* CSS for SVG */ 
text:hover {
  fill: green !important;
  background-color: #2196F3;
}

#intestines:hover path, #brain:hover path, #kidneys:hover path, #heart:hover path, #eyes:hover path, #teeth:hover path{
  fill: green !important;
}

path:hover {
  fill: green !important;
}


#intestines:active path, #brain:active path, #kidneys:active path, #heart:active path, #eyes:active path, #teeth:active path {
  fill: blueviolet !important;
}

path:active {
  fill: blueviolet !important;
}

#anatomy {
  display: flex;
}

svg {
  height: auto;
}

/* Dolphin types cards */
#dolphinTypes { 
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  justify-content:center;
}

.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  max-width: max-content;
}

.card p {
  text-align: center;
}

.row {
  display: flex;
}

.card img {
  width: 50%;
}