/*
Color HEX Codes
Raise Black: 332E3C
Celadon: ABC4A1
Persian Orange: E0986B
Light Blue: 9FC9D1
Light Orange: FFDBB1
*/

p, ul, li, a {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #332E3C;
}

h1, h2, h3, h4, h5 {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: bold;
    color: #332E3C;
  }

h1 {
  display: inline;
  font-size: 48px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #FFDBB1;
    color: #332E3C;
  }

ul {
  list-style-type:none;
}



#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDBB1;
    padding: 0 0;
  }

@media (min-width: 700px) {
    #nav-bar {
        justify-content: flex-end;
      }
  }

#nav-button {
  margin: 5px;
}

div {
  margin: 5px;
}

#nav-bar li {
  margin: 10px;
}

#creators {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 700px) {
    #creators {
        flex-direction: row;
      }
  }
  
#creators .row {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.bio {
  flex: 1 1 0px;
}
