<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="static/images/dolphin_favicon.png">

    <!-- Fonts from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Vidaloka&display=swap"
        rel="stylesheet">

    <!--ours / class content-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width">
</head>

<body onload="themeSet()">
    <div class="head">
        <div class="row">
            <a href="#"><img id="logo" src="images/dolphin-logo-transparent.png"></a>
            <h1>flipper finder</h1>

            <a><img id="modeTheme" onclick="changeMode()" src=""></a>
        </div>
        <div class="row color">
            <nav>
                <div class="menu">
                    <a href="/index.html">home</a>
                    <a href="/about.html">about</a>
                    <a href="/species.html">species</a>
                    <a href="/finFacts.html">facts</a>
                    <a href="/map.html">map</a>
                    <a href="/anatomy.html">anatomy</a>
                </div>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </div>


    {% block content %} {% endblock %}


    <footer>
        <p><a
                href="data.html">data</a>.</p>
    </footer>
</body>
<!-- https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci -->
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }

    const navLink = document.querySelectorAll(".nav-button");

    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
</script>
<script>
    function themeSet(){
        if (sessionStorage.getItem('theme') == null) {
            sessionStorage.setItem('theme', 'light');
            let img = document.getElementById("modeTheme");
            img.setAttribute('src','/static/images/light_mode.png')
        } 

        if (sessionStorage.getItem('theme') == 'dark') {
            changeModeHelper('dark');
            let img = document.getElementById("modeTheme");
            img.setAttribute('src','/static/images/dark_mode.png')
        }

        if (sessionStorage.getItem('theme') == 'light') {
            changeModeHelper('light');
            let img = document.getElementById("modeTheme");
            img.setAttribute('src','/static/images/light_mode.png')
        }

            
    }

    function changeMode() {
        if (sessionStorage.getItem('theme') == 'light') {
            changeModeHelper('dark');
            let img = document.getElementById("modeTheme");
            img.setAttribute('src', '/static/images/dark_mode.png')
            
            sessionStorage.setItem('theme', 'dark');
        } else {
            changeModeHelper('light')
            sessionStorage.setItem('theme', 'light');
            let img = document.getElementById("modeTheme");
            img.setAttribute('src', '/static/images/light_mode.png')
        }
    }

    function changeModeHelper(mode) {
        let p = document.querySelectorAll("p");
        applyMode(p, mode);
        let ul = document.querySelectorAll("ul");
        applyMode(ul, mode);
        let li = document.querySelectorAll("li");
        applyMode(li, mode);
        let h1 = document.querySelectorAll("h1");
        applyMode(h1, mode);
        let h2 = document.querySelectorAll("h2");
        applyMode(h2, mode);
        let h3 = document.querySelectorAll("h3");
        applyMode(h3, mode);
        let h4 = document.querySelectorAll("h4");
        applyMode(h4, mode);
        let h5 = document.querySelectorAll("h5");
        applyMode(h5, mode);

        let nav = document.querySelectorAll("nav");
        applyMode(nav, mode);
        let footer = document.querySelectorAll("footer");
        applyMode(footer, mode);
        let body = document.querySelectorAll("body");
        applyMode(body, mode);
        let colorBar = document.querySelectorAll(".head .row.color");
        applyMode(colorBar, mode);
    }

    function applyMode(elements, mode) {
        for (element of elements) {
            element.classList.add(mode);
            if (mode == "light") {
                element.classList.remove("dark");
            }
            if (mode == "dark") {
                element.classList.remove("light");
            }
        }
    }
</script>
</html>