{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<h2>{{ heading }}</h2>

<p><b>Common Name: </b>{{ common_name }}</p>
<p><b>Scientific Name: </b><i>{{ sci_name }}</i></p>
<p><b>Length: </b>{{ length }} m</p>
<p><b>Adult Weight: </b> {{ weight }} kg</p>
<p><b>Life Span: </b>{{ life_span }} years</p>
<p><b>Description: </b>{{ desc }}</p>

<p>Information from <a href="https://www.fisheries.noaa.gov/dolphins-porpoises#by-species">NOAA</a></p>

{% endblock %}